<!DOCTYPE html>
<html>
<head>
  <title>Robots!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Mono:400,700' rel='stylesheet' type='text/css'>

</head>
<body>

<%= yield %>

<footer>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Web app by <a href="mailto:mdickson@gmail.com?Subject=I%20saw%20your%20app">Mary Dickson</a>, July 2015, for <a href="https://www.codefellows.org/">Code Fellows</a> Ruby on Rails Development Accelerator application. Learn more at <a href="http://www.marydickson.com">my website</a>.</p>
</footer>
</body>
</html>
